.news-container {
	height: 90vh;
	width: 85vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding-top: 2vh;
	float: left;
}

.news {
	width: 62vw;
	overflow-y: auto;
}

.single-news {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 20vh;
	margin: 2vh 0;
	background-color: #424e6d;
	color: #fff;
	font-size: 1.4rem;
	box-shadow: 4px 4px 10px #000;
}

.single-news > .content-p {
	width: 100%;
	overflow-wrap: break-word;
	height: 60%;
	padding: 1vh 1vw;
	font-size: 1rem;
	text-align: center;
}

.main-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
}

.main-info > p {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50%;
	height: 100%;
}
