.newmessage-container {
	width: 85vw;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.newmessage-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4vh;
	width: 60vw;
	color: #fff;
	background-color: #242e47;
	margin-top: 8vh;
	font-size: 1.5rem;
}

.address-info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60vw;
	color: #fff;
	height: 15vh;
}

.address-info div {
	display: flex;
	width: 50%;
}

.address-info p {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #242e47;
	width: 9vw;
	font-size: 1.5rem;
	margin: 0 1vw;
	height: 7vh;
}

.address-info input {
	background-color: #7b889d;
	width: 18vw;
	height: 7vh;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	letter-spacing: 2px;
	padding: 0.5vw;
	font-size: 1.2rem;
}

.address-info .recipient-input {
	width: 15vw;
}

.newmessage-container textarea {
	width: 55vw;
	height: 30vh;
	border: 2px solid #000;
	resize: none;
	background-color: #7b889d;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	letter-spacing: 2px;
	padding: 0.5vw;
}

.newmessage-container textarea:active {
}

.newmessage-container .button-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	width: 60vw;
}

.newmessage-container button{
	font-size: 1.4rem;
	background-color: rgb(200, 20, 20);
	color: #fff;
	width: 12vw;
	height: 7vh;
}

.newmessage-container button:hover{
	background-color: rgb(149, 57, 57);
}

.newmessage-container button:nth-child(2){
	background-color: rgb(20, 134, 20);
}

.newmessage-container button:nth-child(2):hover{
	background-color: rgb(19, 101, 19);
}
