.messages-container {
	width: 85vw;
	height: 90vh;
	padding-top: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	float: left;
}

.messages-titlebar {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	width: 90%;
	background-color: #242e47;
	color: #fff;
	height: 5vh;
}

.mc {
	width: 85%;
	height: 45%;
	margin-bottom: 3vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  padding-top: 3vh;
}

.message {
	display: flex;
	justify-content: center;
	min-height: 6vh;
	background-color: #7b889d;
	color: #fff;
  margin-bottom: 2vh;
  cursor: pointer;
}

.message:hover{
	background-color: #6e7a8d;
}

.message > p {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}