.header-container {
	/* background-color: red; */
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: flex-start;
  background-color: #1B2538;
  color: #fff;
}

.header-container > .tytul, .header-container > .zalogowany-uczen{
  padding: 1vw;	
  display: flex;
	align-items: center;
	width: 50%;
}

.header-container > .tytul {
	justify-content: flex-start;
  font-size: 1.5rem;
}

.header-container > .zalogowany-uczen {
	justify-content: flex-end;
  font-size: 1.2rem;
}

.header-container > .zalogowany-uczen > img{
  margin: 0 1vw;
  width: 4.vw;
}
